<body class="text-center">
    
    <main class="form-signin">
      <form [formGroup]="registerForm">
        <h1 class="h3 mb-3 fw-normal">Üye Ol</h1>
        
        <div class="form-floating">
        <input formControlName="firstName" class="form-control" type="text" placeholder="isim" id="floatingName">
        <label for="floatingName">İsim</label>
        </div>

        <div class="form-floating">
        <input formControlName="lastName" class="form-control" type="text" placeholder="isim" id="floatingLastName">
        <label for="floatingLastName">Soyisim</label>
        </div>

        <div class="form-floating">
          <input formControlName="email" type="email" class="form-control" id="floatingMail" placeholder="name@example.com">
          <label for="floatingMail">Email</label>
        </div>
        <div class="form-floating">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Parola</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Beni Hatırla
          </label>
        </div>

        <div class="container">
  
            <div class="row">
                <button type="button" class="btn btn-light"type="submit" (click)="register()">Üye ol</button>
              </div>
            </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
    </body>
