<div class="row ml-0 mr-0">
  <div class="mb-3">
    <label for="filterText" class="form-label">Araç Ara</label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Arama ifadesi giriniz"
    />
  </div>

  <div *ngIf="filterText" class="alert alert-dark">
    {{ filterText }} aradiniz
  </div>

  <div class="row">
    <div class="col-md-4">
      <select [(ngModel)]="brandId" class="form-select" aria-placeholder="Brands">
        <option value=0>Tüm Markalar</option>
        <option *ngFor="let brand of brands" [value]="brand.brandId" >
          {{brand.name}}</option>
      </select>
    </div>


    <div class="col-md-4">
      <select [(ngModel)]="colorId" class="form-select" aria-label="Colors">
        <option value=0>Tüm Renkler</option>
        <option *ngFor="let color of colors" [value]="color.colorId">
          {{color.name}}</option>
      </select>
    </div>
    
      <button id="filt1" routerLink="/cars/filter/{{colorId}}/{{brandId}}"
       type="button"
        class="btn btn-danger">
        Filter
      </button>
      
      <button id="filt2" routerLink="/cars" type="button" class="btn btn-dark">Clear</button>

   
  </div>

  <!-- <div class="row">
    <div class="col-md-5">
      <select class="form-select" [(ngModel)]="currentBrand.brandId">
        <option [selected]="setCurrentBrand(brand)" *ngFor="let brand of brands" [value]="currentBrand.brandId">
          {{ brand.name }}
        </option>

      </select>
    </div>


    <div class="col-md-4">
      <select
        class="form-select"
        [(ngModel)]="currentColor.colorId"
      >

        <option
        [selected]="setCurrentColor(color)"
          *ngFor="let color of colors"
          [value]="currentColor.colorId"
        >
          {{ color.name }}
        </option>
      </select>
      
    </div> -->

    
<!--     
    <div class="col-md-1">
      <button
      *ngIf="currentColor || currentBrand"
        type="button"
        routerLink="/cars/filter/{{ currentColor.colorId }}/{{
          currentBrand.brandId
        }}"
        class="btn btn-primary"
      >
        Listele
      </button>
    </div>

    <div class="col md-1">
      <button 
      type = "button"
      routerLink="/cars"
      class="btn btn-secondary">
        Sifirla
      </button>
    </div>


  </div> -->



<div class="row row-cols-2 row-cols-md-3 g-4">
  <div
    (click)="setCurrentCar(car)"
    routerLink="/cars/carid/{{ car.carId }}"
    *ngFor="let car of cars  | carFilter: filterText"
    class="card"
  >
    <img [src]="getPath() + car.carImage" class="card" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ car.brandName }}</h5>
      <h4 class="card-title">{{ car.colorName }}</h4>
      <p class="card-text">{{ car.description }}</p>
      <h4 class="card-text">{{ car.modelYear }}</h4>
    </div>
    <div class="card-footer">
      <h3 class="text-muted">{{ car.dailyPrice }} tl</h3>
    </div>
    <button class="btn btn-primary" routerLink = "/cars/update/{{car.carId}}">Guncelle</button>
  </div>
</div>

<h5 *ngIf="currentCar">{{ currentCar.brandName }} sectiniz</h5>
